/* ESTILOS GENERALES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.boton-flecha {  
    border-radius: 50%;
    border: none;
    cursor: pointer;
    width: 70px;
    height: 70px;
}

.boton-icono {
    height: 100%;
    font-size: 40px;
    border: none;
    cursor: pointer;
    background: none;
}

/* PÁGINA PRINCIPAL */
#home {
    min-height: 100vh;
    width: 100vw;
    background-image: url(./img/fondo-header.jpg);
    background-size: cover;
}

.logo-web {
    backdrop-filter: brightness(.3);
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Menú Principal*/
nav {
    min-height: 85vh;
    backdrop-filter: brightness(.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.link-nav-container {
    min-height: 85vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.btn-nav {
    width: 50vw;
    height: 28.3vh;
    display: flex;
}

.btn-nav img {
    width: auto;
    height: 65%;
}

.link-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    position: relative;
    transition: .3s all ease-in-out;
    border-radius: 10px
}

.link-nav:hover {
    background-color: #2edf840e;
}

.link-nav::before {
    content: "";
    width: 0px;
    height: 5px;
    border-radius: 80px;
    background-color: white;
    position: absolute;
    bottom: 0%;
    left: 25%;
}

.link-nav:hover::before {
    transition: .3s all ease-in-out;
    width: 50%;
    background-color: #2edf84;
}

.scroll-vertical{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    background-color: #2edf84;
}

/* PÁGINAS GÉNEROS */

.generos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    background-position: center;
}

#genero-rock {
    background-image: url(./img/fondo-rock.jpg);
}

#genero-pop {
    background-image: url(./img/fondo-pop.jpg);
}

#genero-rap {
    background-image: url(./img/fondo-rap.jpg);
}

#genero-reggaeton {
    background-image: url(./img/fondo-reggaeton.jpg);
}

#genero-electronica {
    background-image: url(./img/fondo-electronica.jpg);
}

/*Contenedor Presentación del Género*/

.presentacion-genero {
    min-width: 100vw;
    min-height: 39vh;
    backdrop-filter: brightness(.3);
}

.titulo-genero {
    font-size: 5rem;
    padding: .5vw 6vh;
}

.descripcion-genero {
    font-weight: 350;
    font-size: 1.5rem;
    padding: 0vw 6vh;
}

/*Contenedor Canciones del Género*/

.canciones-genero {
    width: 100vw;
    min-height: 60vh;
    display: flex;
    align-items: center;
    position: relative;
    backdrop-filter: brightness(.1);
}

/*Flechas Scroll Cards*/

.scroll-horizontal {
    position: absolute;
    z-index: 1;
    font-size: 40px;
    background: linear-gradient(to top, rgba(255, 72, 0, 0.060), rgba(0, 0, 255, 0.060));
}

.scroll-horizontal:hover {
    background: linear-gradient(to top, rgba(255, 72, 0, 0.40), rgba(0, 0, 255, 0.40));
}

#scroll-left {
    left: 20px;
}

#scroll-right {
    right: 20px;
}

/*Cards Canciones*/

.cards {
    width: 100%;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.card-cancion {
    background-color: #00000000;
    min-width: 20vw;
    min-height: 50vh;
    margin: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    transition: 1s;
}

.card-cancion:hover {
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(27, 27, 27, 0.879));
    transform: scale(1.05);
}

.portada-card {
    width: 15.3vw;
    height: 35vh;
    padding: .15vw .15vh;
    border-radius: 10px;
    transition: .5s;
}

.info-card {
    font-size: 25px;
    text-align: center;
}

.artista-cancion {
    font-size: 20px;
}

@keyframes rotar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.card-cancion:hover img {
    animation: rotar 6s infinite linear;
    border-radius: 50%;
}

.cards::-webkit-scrollbar {
    display: none;
  }

/* TIENDA */

#tienda {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#header-tienda {
    min-height: 15vh;
    width: 100vw;
    background-image: url(./img/fondo-tienda.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-icon {
    width: 10%;
    height: 6.5rem;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.carrito {
    display: flex;
    justify-content: flex-start;
}

#header-tienda h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4.5rem;
    width: 90%;
}

#body-tienda {
    min-height: 85vh;
    width: 100vw;
    padding: 50px;
    gap: 30px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-producto {
    width: 18vw;
    height: 18vw;
    position: relative;
    overflow: hidden;
    background: white;
}

.card-producto:hover .card-info {
    top: 0;
}

.card-producto img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.card-info {
    transition: .4s ease-in-out all;
    width: 100%;
    height: 100%;
    top: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #222222b5;
    padding: 15px;
}

.info-producto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.info-producto * {
    text-align: center;
}

.info-producto h3 {
    font-size: 1.2rem;
}

.info-producto p {
    font-size: 2rem;
}

.compra{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30%;
}

.boton-compra {
    width: 40%;
    height: 60%;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
    border: solid 2px #2edf84;
    color: #2edf84;
    background-color: #00000000;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.boton-compra:hover {
    background-color: #2edf84;
    color: rgb(255, 255, 255);
}

/*Footer*/

footer {
    padding: 20px;
    background-color: #0a0a0a;
}

.footer-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-separador {
    width: 2px;
    height: 60px;
    background-color: #2edf84;
    margin: 0px 30px;
}

footer ol li img {
    width: 18px;
}

footer ol li a {
    padding: 0px 15px;
}